.about-me-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .left-side-about-me {
    padding: 37px 100px;
    width: 500px;
    .info-about-me {
      .header {
        color: white;
        font-size: 90px;
        white-space: nowrap;
      }
    }

    .info-me {
      color: white;
      font-size: 16px;
    }

    .bulb-container {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-top: 30px;
      color: white;
    }

    .puzzle-container {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-top: 30px;
      color: white;
    }
  }

  .right-side-about-me {
    .circle-img {
      display: flex;
      align-items: center;
      justify-content: end;

      img{
        width: 425px;
      }
    }

    .right-side-red-bg {
      position: absolute;
      right: 0;
      top: 650px;
    }
  }
}


@media(max-width:1445px){
  .about-me-container{
    justify-content: center;
    .right-side-about-me{
      .circle-img{
        display: none;
      }
    }
  }
}

@media(max-width:1000px){
  .about-me-container{
    .left-side-about-me{
      .info-about-me{
        .header{
          font-size: 50px;
          display: flex;
          justify-content: center;
        }
      }
    }

    .right-side-about-me{
      .right-side-red-bg{
        z-index: -1;
      }
    }
  }
}