<div class="about-me-container">
  <div class="left-side-about-me">
    <div class="info-about-me">
      <h1 class="header">About me</h1>
    </div>
    <div class="info-me">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      inventore odio voluptates facilis blanditiis illum consequatur dolores,
      optio ad dolore sapiente mollitia ex vitae, cumque saepe, dicta eum
      tempore doloribus.
    </div>
    <div class="bulb-container">
      <img src="./assets/img/icons/bulb-icon.png" alt="" />
      <div class="text-bulb">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        eaque, magnam ratione fuga maiores, modi expedita quaerat, rerum
        repellendus culpa atque nobis laboriosam consectetur illo esse! Nulla
        laborum esse doloremque.
      </div>
    </div>
    <div class="puzzle-container">
      <img src="./assets/img/icons/puzzle-icon.png" alt="" />
      <div class="text-puzzle">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolores
        inventore, quidem veritatis, hic necessitatibus ut, quaerat repellat
        aliquid unde consequuntur expedita? Qui architecto doloribus facere
        cupiditate odit, veritatis quam?
      </div>
    </div>
  </div>
  <div class="right-side-about-me">
    <div class="circle-img">
      <img src="./assets/img/aboutme-circle.png" alt="" />
      <img src="./assets/img/aboutme-line.png" alt="">
    </div>

    <div class="right-side-red-bg">
        <img src="./assets/img/aboutme-red.png" alt="">
    </div>
    
  </div>
</div>
