<div class="header-contact">
  <img src="./assets/img/line-contact.png" alt="" />
  <h1>Contact</h1>
</div>

<div class="contact-container">
  <div class="left-container">
    <h2>Got a problem to solve?</h2>
    <span
      >Contact me through this form, I am interested in hearing you, knowing
      your ideas and contributing to your projects with my work.
    </span>
    <span>Need a Frontend developer? <b>Contact me!</b></span>
  </div>
  <form class="right-container" action="">
    <input placeholder="Your name" required type="text" />
    <input placeholder="Your email" required type="text" />
    <textarea required name="" placeholder="Your message" id="" cols="30" rows="10"></textarea>
    <div class="checkbox-area">
      <input required type="checkbox"/>
      <span>
        I've read the
        <a href="#">pricacy policy</a>
        and agree to processing off my data as outlined
      </span>
    </div>
    <div class="contact-btn">
        <button>Send message :)</button>
    </div>
  </form>
</div>
