.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  padding: 37px 100px;

  .logo {
    img {
      height: 70px;
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 46px;

    li {
      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: yellow;
        }
      }
    }
  }
}
