<div class="info-ivan">
  <div class="img-bg">
    <div class="cr7">
    <img src="./assets/img/cr7.png" alt="" />
  </div>
    <img class="bg" src="./assets/img/red.png" alt="" />
    <img class="bg" src="./assets/img/orange.png" alt=""/>
  </div>
  <div class="job-name">
    <div class="info-name-job">
      <div class="i-am"><h2>I am</h2></div>
      <div class="ivan-frontend">
        <h1>Ivan Vilar Gomes</h1>
        <h1 class="red-frontend">Frontend Developer</h1>
      </div>
    </div>
    <div class="btn">
      <button>Let's talk</button>
    </div>
  </div>
</div>
