.info-ivan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 100px;
  .img-bg {
    .cr7 {
      position: absolute;
      top: -101px;
      left: 0px;
      z-index: 1;
      .ronaldo {
        width: 446px;
        height: 701px;
        object-fit: contain;
      }
    }

    .bg {
      width: 300px;
      position: relative;
      left: -150px;
      top: 0px;
      filter: blur(30px);
      transform: rotateY(180deg);
      z-index: 0;
    }
  }

  .job-name {
    color: white;
    display: flex;
    flex-direction: column;
    .info-name-job {
      display: flex;
      align-items: center;

      .ivan-frontend {
        line-height: 10px;
        font-size: 35px;

        .red-frontend {
          color: #ff4747;
        }
      }

      .i-am {
        font-size: 34px;
        transform: rotate(270deg);
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      button {
        color: white;
        border-radius: 10px;
        border: none;
        background-color: #fa7902;
        font-size: 23px;
        width: 165px;
        height: 58px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
