<div class="icon-skill">
    <div class="icons">
        <img src="./assets/img/icons-skill/angular-icon.png" alt="">
        <img src="./assets/img/icons-skill/api-icon.png" alt="">
        <img src="./assets/img/icons-skill/css-icon.png" alt="">
        <img src="./assets/img/icons-skill/firebase-icon.png" alt="">
        <img src="./assets/img/icons-skill/git-icon.png" alt="">
        <img src="./assets/img/icons-skill/html-icon.png" alt="">
        <img src="./assets/img/icons-skill/javascript-icon.png" alt="">
        <img src="./assets/img/icons-skill/materialdesign-icon.png" alt="">
        <img src="./assets/img/icons-skill/scrum-icon.png" alt="">
        <img src="./assets/img/icons-skill/typescript-icon.png" alt="">
    </div>
    <div class="skill">
        <div class="header-line">
            <h1>My skills</h1>
            <img src="./assets/img/icons-skill/skills-line.png" alt="">
        </div>
        <div class="txt-skill">
            I have grown my frontend developments skills that hav
            e allowed me to create different real projects.
        </div>
        <div class="btn">
        <button>Get in touch</button>
    </div>
</div>
</div>